body {
    margin: 0;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
  }

table, th, td {
    border:1px solid #59657c;
    color: #81A1C1;
}

.topnav {
  overflow: hidden;
  background-color: #2E3440;
  border: 2px solid #81A1C1;
  position: fixed; 
  top: 0; 
  width: 100%; 
}

.topnav a {
  float: left;
  display: block;
  color: #81A1C1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background: #81A1C1;
  color: #2E3440;
}

.main {
  margin-top: 30px;
}